.MainContact{
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 1em;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1em 1em 0em 1em black;

}
.MainContact h1{
    margin: 0.2em;
    font-family: "IBM Plex Serif", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: clamp(3rem, 3rem, 3rem);
}
.ContactInformationContainer{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CanAlsolDesktop{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CanAlsolMobile{
    display: none;
}
@media (max-width: 680px) {
    .MainContact{
        width: 90%;
        height: 42%;
        box-shadow:none;
        background-color: rgb(241, 241, 241);
    }
    .MainContact h1{
        font-size: 2em;
        margin: 0.5em;
    }
    .CanAlsolDesktop{
        display: none;
    }    
    .CanAlsolMobile{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        width: 90%;
        border-radius: 1em;
        border: 3px solid black;
    }
}