.BiographyText{    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, var(--BackgroundColorGradient-1), var(--BackgroundColorGradient-2));
    display: grid;
    place-items: center;
}
.BiographyTextContainer{
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.BiographyTextContainer article{
    /* background-color: red; */
    height: 85%;
    width: 60%;
    overflow-y: auto;
}
.BiographyTextContainer article p{
    font-size: large;
}