.Countries{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.CountriesContainer{
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: space-around;
    align-items: center;    
    flex-direction: column;
}
.CitiesContainer{
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: space-around;
    align-items: center;    
}
.CountriesTitle{   
    width: 60%;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    text-align: center;
}
.CountriesTitle h2{    
    color: black;
    font-size: 2rem;
    font-weight: 600;
}
.CityElement{
    background-color: white;
    height: 55%;
    width: 23%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    box-shadow: 1em 1em 0.1em 0.75em black;
}
.CityElement img{
    width: 10vw;
}