.Biography{
    height: 300vh;
}
html{
    scroll-behavior: smooth;
}

@media(max-width: 680px){
    .Biography{            
        min-height: 3000px;
        height: 3000px;
        max-height: 3000px;
    }    
}