:root{
    --BackgroundColorGradient-1: #140A4E;
    --BackgroundColorGradient-2: rgb(98, 30, 161);

}

main{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    background: linear-gradient(to bottom, var(--BackgroundColorGradient-1), var(--BackgroundColorGradient-2));
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    
}

@media(max-width: 680px){
    main{
       justify-content:end;
    }    
}