:root{
    --BackgroundColorGradient-1: #00AAAA;
    --BackgroundColorGradient-2: rgb(98, 30, 161);

}

main{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    background: linear-gradient(to bottom, var(--BackgroundColorGradient-1), var(--BackgroundColorGradient-2));
    height: 100vh;
    width: 100vw;
    position: relative;
    
}
h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}
h3 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}
h4 {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
}
p {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
}

@media(max-width: 680px){
    main{
       justify-content:space-evenly;
       min-height: 2320px;
       height: 290vh;

    }    
}