.Snow{
    height: 220vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    overflow: hidden;

}

@media (max-width: 680px) {
    .Snow{
        min-height: 2500px;
        height: 2500px;
        max-height: 2500px;
    }
}