.AboutMe{
    height: 85%;
    width: 85%;
    border: 3px solid white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}
.AboutTitle{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;    
    height: 13%;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AboutMeInInformationContainer{
    height: 87%;
    border-radius: 1em;
    display: flex;
}
.AboutMeFocusAreas{
    /* background-color: red; */
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.TextFocusAreas{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}
.TextFocusAreas h3{
    margin-left: 2vh;
    font-size: clamp(3vh, 3vh, 3vh);
}
.TextFocusAreas li{
    font-size: clamp(2.3vh, 2.3vh, 2.3vh);
}
.AboutMeSkills{
    border-right: 1px solid white;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column; 
    justify-content: center;    
    align-items: center;
}
.SkillPoint{
    height: 1vh;
    width: 1vh;
    border-radius: 3em;
    border: 2px solid white;
}
.Skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 25%;
}
.Skill img{
    width: 2.7vh;
    transition: 0.5s
}
.SkillPointContainer{    
    margin-left: 5%;
    /* background-color: red; */
    width: 60%;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.SkillName{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.SkillName h3{
    margin: 0;
    width: 13vh;
    /* background-color: red; */
}
.SkillsContainer{
    position: relative;
    margin-top: 0;
    /* background-color: red; */
    width: 100%;
    overflow-y: hidden;
    /* scrollbar-width: none; */
    
}
.SubtitlSkills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.3em;    
    width: 100%;
    height: 10%;
    text-align: center;
    border-bottom: 1px solid white;
}
.Skill:hover{
    background-color: rgba(128, 128, 128, 0.432);    
    transition: 0.5s;
    padding-block: 0.5em;
    /* if hover skill img increases to width 4vh */
}
.Skill:hover img {
    transition: 0.5s;
    min-width: 4vh;
    width: 4vh;
    max-width: 4vh;
}
.ScrollDownSkills{    
    text-align: center;
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    width: 100%;
    border-bottom-left-radius: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ScrollDownSkills p{
    font-size: 14px;
    margin: 0;
}
.ScrollDownSkills img{
    min-width: 2vh;
    width: 2vh;
    max-width: 2vh;    
    margin-left: 0.6em;
}
#NextSkillButton{
    display: none;
}


@media screen and (max-width: 1280px) and (max-height: 720px) {
  .SkillName h3, .ScrollDownSkills {
    font-size: 8px; /* Reduce font size */
  }
  .AboutMeFocusAreas h3{
    font-size: 10px;
  }
  .TextFocusAreas li{
    font-size: 8px;
  }
  .AboutMeSkills h2 ,.AboutMeFocusAreas h2{
    font-size: 15px;
  }
}

@media (max-width: 680px) {
    .AboutMe{
        height: 100%;
        width: 100%;
    }
    .AboutTitle{
        min-height: 8%;
        height: 8%;
        max-height: 8%;
    }
    .AboutMeInInformationContainer{
        flex-direction:column-reverse;
    }
    .AboutMeSkills, .AboutMeFocusAreas {
        width: 100%;
        height: 50%;
    }
    .TextFocusAreas{
        height: 100%;
        justify-content: center;
        text-align: center;
    }
    .TextFocusAreas h3{
        margin-left: 0;
        margin-block: 2px;
    }
    .TextFocusAreas ul{
        list-style: none;
        text-align: center;
        padding-left: 0px;
    }
    .TextFocusAreas li{
        margin-block: 1px;
    }
    .SubtitlSkills{
        margin-top: 0;
        border-top: 1px solid white;
        height: 16%;
    }
    #MainHome{
        margin-top: 8vh;
    }
    .ScrollDownSkills{
        display: none;
    }
    .Skill{
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .SkillName{
        flex-direction: column;
        height: 60%;   
        text-align: center; 
    }
    .SkillName h3{
        width: 100%;     
        font-size: 4vh;
    }
    .SkillName img{
        width: 20vw;
    }
    .SkillPointContainer{
        height: 100%;
        width: 80%;
        margin: 0;
        background-color: #555555;
        border-radius: 2em;
    }
    .subContaniner{
        display: flex;
        height: 15%;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .SkillPoint{
        height: 3vh;
        width: 3vh;
    }
    #NextSkillButton{
        margin-top: 2vh;
        display: block;
        width: 35vw;
        height: 5vh;
        border-radius: 2em;
        border: 1px solid black;
        background-color: white;
        color: black;
        font-size: 2vh;
    }
    .Skill:hover{
        background-color: rgba(128, 128, 128, 0);    
        transition: 0.5s;
        /* if hover skill img increases to width 4vh */
    }
    .Skill:hover img , .ScrollDownSkills img {
        transition: 0.5s;
        width: 20vw;
    }
}