@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jaro:opsz@6..72&family=Lexend+Deca:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rammetto+One&family=Sigmar+One&display=swap');
.Education{    
    height: 85%;
    width: 85%;
    border: 3px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}
.EducationTitle{
    /* font-family: "IBM Plex Serif", serif; */
    /* font-weight: 1000; */
    /* font-style: normal; */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    min-height: 13%;
    height: 13%;
    width: 100%;
    color: black;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.EducationInformation{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.EducationInformationContainer{
  flex-grow: 1;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.EducationItem{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}
.EducationItem img{
    height: 11vh;
    width: 6vw;
    
}
.Text{
    width: 60%;
}
.Text h2{
    font-size: clamp(2.6vh, 2.6vh, 2.6vh);
}
.EducationInformation:hover{
    width: 100%;
    transition: 0.5s;
    background-color: #b6b6b6;
    padding-block: 4vh;
}
.EducationInformation span {
    display: none;
    width: 100%;
    text-align: center;
}

.EducationInformation:hover span {
    display: block;
    position: static;
    transition: 0.5s;
}

#UcmoEd img{
    height: 15vh
}

#UcmoEd{
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}
#UcmoEd:hover{
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    
}
#MoreInfEDSn, #NextImgEDSn{
    display: none;
}
#GoToUCMImg{
    transform: rotate(180deg);}
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .Text h2{
        font-size: clamp(12px, 12px, 12px);        
    }
    .Text p , .Text span{
        font-size: clamp(10px, 10px, 10px);        
    }
    .Text:hover{
        font-size: clamp(14px, 14px, 14px);        
    }
    .Text:hover{
        font-size: clamp(12px, 12px, 12px);        
    }

}

@media (max-width: 680px) {
    .EducationInformationContainer{
        /* min-height: 10px; */
    }
    .EducationTitle{
        min-height: 8%;
        height: 8%;
        max-height: 8%;
    }
    .Education{
        color: black;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    .EducationInformation:hover{
        width: 100%;
        transition: 0.5s;
        background-color: #502c8000;
        padding-block: 0vh;
    }
    .EducationInformation:hover span {
        display: none;        
        transition: 0.5s;
    }
    #UcmoEd{
        display: none;
    }
    .EducationInformation{
        transition: 0.2s;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* background-color: red; */
    }
    .EducationItem{
        
        flex-direction:column-reverse;
        min-height: 600px;
        height: 100%;
        justify-content: space-evenly;
    }
    .EducationItem button{
        color: black;
    }
    .Text{
       width: 70%;        
    }
    .EducationItem img{
        
        width: 50%;
        
        min-height: 180px;
        height: 30%;
        max-height: 30%;
    }
    #MoreInfEDSn, #NextImgEDSn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 2em;
    }
    #MoreInfEDSn{
        width: fit-content;
        height: fit-content;
        padding-block: 0.5vh;
        padding-inline: 5vw;
        background-color: orange;
        border: 1px solid black;

    }
    #NextImgEDSn{
        height: 6vh;
        width: 55vw;
        color: white;
        background-color: #555555;
        border: 2px solid black;
        font-size: 3vh;
    }
    .Text h2{
        font-size: 30px;        
    }
    .Text p , .Text span{
        font-size: 13px;        
    }
    #UcmoEd h2{
        margin-top: 10px;
        text-align: center;
        font-size: 22.5px;
    }
    #UcmoEd img{
        height: 20vh;
        width: 37vw;
    }
    #NextImgEDSn img{
        height: 5vh;
        width: 15vw;
        margin: 0;
    }
    .NextImgEDSn img{
        min-height: 100%;
    }

}