.SocialNetwork{
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items:center;
}
.SocialNetwork p{
  margin-top: 0;
}
.SocialNetwork h2{
    margin-bottom: 1vh;
  }
.SocialNetwork img{
    width: clamp(50px, 50px, 50px);
}
.SNImgContainer img{
    margin-inline: 1.5vh;
}
.SocialNetwork img:hover{
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em 0.1em white,
  inset 0.3em 0.3em 0.9em 0.1em white;
  transition: 0.3s;
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
  .SocialNetwork h2{
    font-size: clamp(14px, 14px, 14px);
  }
  .SocialNetwork p{
    font-size: clamp(10px, 10px, 10px);
  }
}
@media (max-width: 680px) {
  .SocialNetwork{
    min-height: 60%;
    height: 60%;
    /* background-color: red; */
  }
  .SocialNetwork h2{
    font-size: 25px;
  }
  .SocialNetwork p{
    font-size: 11px;
  }
}
