.SocialNetwork{
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items:center;
}
.SocialNetwork p{
  margin-top: 0;
}
.SocialNetwork h2{
    margin-bottom: 1vh;
  }
.SocialNetwork img{
    width: clamp(5vh, 5vh, 5vh);
}
.SNImgContainer img{
    margin-inline: 1.5vh;
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
  .SocialNetwork h2{
    font-size: 14px;
  }
  .SocialNetwork p{
    font-size: 10px;
  }
}
