.DivContainers{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.DivsDividerContainers{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.UpperDiv{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .UpperDiv h1{
    text-shadow: 3px 3px 3px black;
    font-size: clamp(8vh, 8vh, 8vh);
    margin-bottom: 0;
    border-bottom: 1px solid white;
    font-family: "IBM Plex Serif", serif;
    font-weight: 1000;
    font-style: normal;
 }
 .UpperDiv h3{
    text-shadow: 3px 3px 3px black;
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(4vh, 4vh, 4vh);
    margin-top: 1vh;
    border-bottom: 1px solid white;
 }


.LowerDiv{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ButtonMobileMenu{
    display: none;
}
.MobileSection{
    display: none;
}

@media (max-width: 680px) {
    .DivsDividerContainers{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .DivsDividerContainers h1{
        font-size: clamp(40px, 40px, 40px);
    }
    .DivsDividerContainers h3{
        font-size: clamp(20px, 20px, 20px);
    }

    .DivContainers{
        flex-direction: column;
    }
    #one .LowerDiv{
        display: none;
    }
    #one .UpperDiv{
        height: 50%;
    }
    #two .LowerDiv{
        display: none;
    }
    #two{
        height: 50%;
    }
    #two .UpperDiv{
        height: 100%;        
    }

    .ButtonMobileMenu{
        height: 50%;
        width: 80%;
        margin: 1.3vh;
        background-color: rgba(255, 0, 0, 0);
        border: 2px solid white;
        border-radius: 1em;
        color: white;
        font-size: clamp(17px, 17px, 17px);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .ButtonMobileContainer {    
        height: 40%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ButtonMobileContainer a{
        text-decoration: none;
    }
    .MobileSection{
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    html {
        scroll-behavior: smooth;
    }
    #AboutMeSectionID{
        height: 32%;
    }
}