@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Jaro:opsz@6..72&family=Lexend+Deca:wght@100..900&family=Sigmar+One&display=swap');

.Warning{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.514);

}
.WarningTitle{
    background-color: white;
    width: clamp(25%,25%,25%);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: yellow;
    font-size: 2vh;
    text-shadow: 2px 2px 1px black;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
 }
 .WarningTitle h2{
    margin-block: 0;    
}

.WarningSpan{
   text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 25%;
    border-radius: 1em;
    background-color: rgb(117, 117, 117);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: black;
 }
 .WarningSpan button{
    cursor: pointer;;
    margin-top: 3vh;
    height: 20%;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    font-size: 2vh;
    border-radius: 1em;
 }
 .WarningSpan button:hover{
    background-color: rgb(231, 231, 231);
    transition: .5s;
 }
 .WarningSpan p{
   font-size: clamp(1vh, 1.3vh, 1.3vh);  
 }
 .WarningSpan h2{
   font-size: clamp(2vh, 2vh, 2.5vh);
 }

 @media (max-width: 680px){
      .WarningTitle , .WarningSpan, .WarningSpan button{
         width: 60%;
         text-align: center;
      }
      .WarningTitle{
         padding: 1vh;
      }
      .WarningSpan, .WarningSpan button{
         padding: 1vh;
         color: black;
         font-size: clamp(2.5vh, 2.5vh, 2.5vh);      
      }
 }