.FilterBy{
    display: flex;
    height: 100%;
    /* background-color: blue; */
    width: 15%;
    justify-content: center;
}
.FilterContainer{
    width: 80%;
    height: 80%;
    /* background-color: green; */
}
.CheckbocFilter{
    display: flex;
    align-items: center;
    height: 30%;
}
.CheckbocFilter input{
    cursor: pointer;
}
.CheckbocFilter p{
    margin-inline: 5%;
}
.TechnologiesContainer{
    /* background-color: teal; */
    height: 20%;
    overflow-y: auto;
}
.price-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Arial, sans-serif;
}

.price-filter input {
  width: 35%;
  padding: 5px;
  font-size: 14px;
}

.price-filter button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.BlueLabel{
    color: #02A7F0;
}
@media (max-width: 680px) {
    .FilterBy{
        width: 100%;
        height: 20%;
        overflow-x: auto;
    }
    .FilterBy h4{
        margin: 0.5em;
    }
    .FilterContainer{  
        display: flex;          
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .TechnologiesContainer{
        /* background-color: red; */
        min-width: fit-content;
        height: 100%;
        padding-inline: 1em;
    }
    .price-filter{
        min-width: 65vw;
    }
    .CheckbocFilter{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .FilterByHeader, .BlueLabel{
        min-width: 25vw;
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    .FilterByTechnologiesSection{
        display: flex;
    }
}