
section{
    
    min-height: 75%;
    height: 75%;
    max-height: 75%;
    min-width: 80%;
    width: 80%;
    max-width: 80%;
    border: 3px solid white;
    border-radius: 1em;
    box-shadow: 1px 1px 0.5em 0.2em  white;
}

@media (max-width: 680px) {
    section{
        margin-bottom: 10%;
        min-width: 90%;
        width: 90%;
        max-width: 90%;
        min-height: 80vh;
        height: 80vh;
        max-height: 80vh;
        /* background-color: red; */
    }
}