
.InformationContainer{
    height: clamp(75vh,75vh,75vh);
    width: clamp(70%,80%,80%);
    border: 3px solid white;
    border-radius: 1em;
}

@media (max-width: 680px) {
    .InformationContainer{
        margin-bottom: 10%;
        width: clamp(90%,90%,90%);
        height: clamp(80vh,80vh,80vh);
        /* background-color: red; */
    }
}