@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jaro:opsz@6..72&family=Lexend+Deca:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sigmar+One&display=swap');

.Navbar{   
    z-index: 9999; /* or another high value */
 
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
          
    color: black;
    width: 100%;
    /* background-color: white;     */
    position: fixed;
    top: 0;
    height: clamp(10vh,6vh,10vh);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
}
.NavbarContainer{
    width: clamp(80%, 80%, 80%);
    display: flex;
    justify-content: end;
    list-style-type: none;
    position: relative;
}
.NavbarItem{
    cursor: pointer;
    margin: 3vh;
    margin-inline: 5vh;
    font-size: clamp(2vh,2vh,2vh);
}
.NavbarContainer span{
    border-radius: 1em;
    top: 3vh;
    right: -11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: white;
    color: black;    
    min-height: 10vh;
    height: 10vh;
    max-height: 10vh;
    min-width: 15vh;
    width: 15vh;
    max-width: 15vh;
    opacity: 1;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    opacity: 0;
    transition: 0.2s;
}
.NavbarDropdown {
    transform: translateX(-20%); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    opacity: 0; 
    transition: opacity 1s;
    display: none; 
  }
  
  #LengId:hover .NavbarDropdown {
    opacity: 1; 
    transform: translateX(0); 
  }
  .lenguage {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between text and image */
    cursor: pointer;
}

.lenguage p{
    margin: 0.5vh;
}
.lenguage img{
    min-width: 3vh;
    width: 3vh;
    max-width: 3vh;
}
.NavbarIcon{
    display: none;
    position: fixed;
    left: 1px;
    top: 17px;
    transition: 0.3s;
}
#closeNav{
    display: none;

}
@media(max-width: 680px){
    .NavbarItem{
        /* width: 25%; */
        margin-inline: 0;
    }
    .NavbarContainer{
        padding-top: 5vh;
        width: 0%;
        margin-right: 0;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .NavbarIcon{
        display: block;
        width: 10vw;
        margin-left: 5vw;
    }
    .NavbarItem{
        display: none;
        margin: 2vh;
        margin-left: 7vw;
    }
    .Navbar{
        background-color: #33333300;
        height: 10%;
        justify-content: flex-start;
    }
    .NavbarContainer{
        height: 100%;
        
        background-color: #33333300;
        position: static;
        flex-direction: column;
        transition: 0.4s
    }
    #firstMobileButton{
        margin-top: 10vh;
    }
}
